absl-py==0.13.0
Adafruit-Blinka==6.13.0
adafruit-circuitpython-hashlib==1.3.5
Adafruit-PlatformDetect==3.15.3
Adafruit-PureIO==1.1.9
affine==2.3.0
aiohttp==3.7.4.post0
aiohttp-wsgi==0.9.1
aiohttp_remotes==1.0.0
alabaster==0.7.12
alembic==1.6.5
anyio==3.2.1
appyter==0.16.6
argon2-cffi==20.1.0
asgiref==3.4.1
astral==2.2
astrality==1.1.1
astroid==2.5.6
astropy==4.3.1
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==21.2.0
auto-cv==0.0.1
Automunge==7.23
autopep8==1.5.7
Babel==2.9.1
backcall==0.2.0
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.9.3
bidict==0.21.2
bleach==3.3.0
blinker==1.4
bokeh==2.4.1
bpy36==1.0.0
Brotli==1.0.9
bs4==0.0.1
cached-property==1.5.2
cachetools==4.2.2
certifi==2021.5.30
cffi==1.14.5
chardet==3.0.4
chess==1.6.1
chromedriver-py==95.0.4638.17
clang==5.0
click==8.0.1
click-default-group==1.2.2
colorama==0.4.4
colorclass==2.2.0
coloredlogs==15.0.1
colorlog==6.4.1
colormath==3.0.0
complexPyTorch==0.4
coverage==6.0.1
cryptography==35.0.0
cssselect==1.1.0
cv==1.0.0
cv2-tools==2.4.0
cycler==0.10.0
debugpy==1.3.0
decorator==5.0.9
defusedxml==0.7.1
dill==0.3.4
distlib==0.3.3
dj-database-url==0.5.0
Django==3.2.8
django-heroku==0.3.1
dlx==1.0.4
dnspython==2.1.0
docopt==0.6.2
docplex==2.22.213
docutils==0.17.1
emblaze==0.9.0
entrypoints==0.3
Faker==8.8.1
fastdtw==0.3.4
fastjsonschema==2.15.1
filelock==3.3.1
Flask==2.0.1
Flask-Cors==3.0.10
Flask-Migrate==3.1.0
flask-serialize==2.0.2
flask-shell-ipython==0.4.1
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
flatbuffers==1.12
fluids==1.0.9
future==0.18.2
gast==0.4.0
geocoder==1.38.1
google-api-core==2.1.1
google-api-python-client==2.26.1
google-auth==1.35.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.53.0
googletrans==3.0.0
greenlet==1.1.0
grpcio==1.39.0
gunicorn==20.1.0
h11==0.9.0
h2==4.1.0
h5py==3.1.0
HeapDict==1.0.1
hpack==4.0.0
hstspreload==2021.10.1
httpcore==0.9.1
httplib2==0.19.1
httpx==0.13.3
humanfriendly==10.0
hyperframe==6.0.1
hypothesis==6.23.1
idna==2.10
ImageHash==4.2.1
imageio==2.9.0
imagesize==1.2.0
inflection==0.5.1
iniconfig==1.1.1
invoke==1.6.0
ipykernel==6.0.0
ipython==7.25.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
is-disposable-email==1.0.0
isort==5.8.0
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.1
joblib==1.0.1
json5==0.9.6
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyter-server==1.9.0
jupyterlab>=3.0.17
jupyterlab-pygments==0.1.2
jupyterlab-server==2.6.0
jupyterlab-widgets==1.0.0
kaitaistruct==0.9
keras==2.6.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
lazy-object-proxy==1.6.0
libretranslatepy==2.1.1
littleutils==0.2.2
llvmlite==0.37.0
lxml==4.6.3
mach4==0.2.0
Mako==1.1.5
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.3
matplotlib-inline==0.1.2
mccabe==0.6.1
micawber-bs4-classes==0.4.4
mistune==0.8.4
mock==4.0.3
more-itertools==8.10.0
mpmath==1.2.1
mtcnn-opencv==1.0.2
multidict==5.1.0
multitasking==0.0.9
mypy-extensions==0.4.3
nbclassic==0.3.1
nbclient==0.5.0
nbconvert==6.1.0
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.6.2
notebook==6.4.1
ntlm-auth==1.5.0
numba==0.54.0
numpy==1.21.2
numpy-camera==0.0.2
oauth2==1.9.0.post1
oauthlib==3.1.1
opencv-camera==0.10.11
opencv-contrib-python==4.5.3.56
opencv-proto==0.3.0
opencv-python==4.5.3.56
opt-einsum==3.3.0
outdated==0.2.1
packaging==20.9
pandas==1.3.2
pandas-flavor==0.2.0
pandocfilters==1.4.3
parso==0.8.2
patsy==0.5.2
permissive-dict==1.0.4
pickleshare==0.7.5
Pillow==8.3.2
pingouin==0.4.0
pip-upgrader==1.4.15
pip81==0.0.2
pipenv==2021.5.29
platformdirs==2.4.0
pluggy==0.13.1
ply==3.11
polib==1.1.1
prometheus-client==0.11.0
prompt-toolkit==3.0.19
protobuf==3.17.3
psutil==5.8.0
psycopg2==2.9.1
py==1.10.0
pyaes==1.6.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.7.0
pycparser==2.20
pydivert==2.1.0
pyerfa==2.0.0
pyftdi==0.53.3
pygame==2.0.1
Pygments==2.9.0
PyHamcrest==2.0.2
PyJWT==2.1.0
pylint==2.8.2
pynndescent==0.5.4
pyOpenSSL==21.0.0
pyparsing==2.4.7
PyPDF2==1.26.0
pypl==40.10
pyquaternion==0.9.9
pyreadline3==3.3
pyrsistent==0.18.0
pyserial==3.5
PySocks==1.7.1
pytest==6.2.4
pytest-arraydiff==0.3
pytest-astropy==0.9.0
pytest-astropy-header==0.1.2
pytest-cov==3.0.0
pytest-doctestplus==0.11.0
pytest-filter-subpackage==0.1.1
pytest-mock==3.6.1
pytest-openfiles==0.5.0
pytest-remotedata==0.3.2
python-constraint==1.4.0
python-dateutil==2.8.1
python-dotenv==0.19.0
python-editor==1.0.4
python-engineio==4.0.0
python-socketio==5.0.4
python-upwork-oauth2==3.0.3
pytube==11.0.1
pytube3==9.6.4
pytube4==0.1.1
pytz==2021.1
pyusb==1.2.1
PyWavelets==1.1.1
pywinpty==1.1.3
PyYAML==5.4.1
pyzmq==22.1.0
qiskit==0.31.0
qiskit-aer==0.9.1
qiskit-aqua==0.9.5
qiskit-ibmq-provider==0.17.0
qiskit-ignis==0.6.0
qiskit-terra==0.18.3
qtconsole==5.1.1
QtPy==1.9.0
Quandl==3.6.1
ratelim==0.1.6
reader-writer-locks==0.0.3
readerwriterlock==1.0.9
redis==3.5.3
regions==0.5
requests==2.25.1
requests-ntlm==1.1.0
requests-oauthlib==1.3.0
requests-unixsocket==0.2.0
retworkx==0.10.2
rfc3986==1.5.0
rq==1.10.0
rsa==4.7.2
scikit-image==0.18.3
scikit-learn==0.24.2
scipy==1.7.1
seaborn==0.11.2
seaborn-analyzer==0.1.9
seaborn-extensions==0.0.14
selenium==3.141.0
selenium-wire==4.5.3
Send2Trash==1.7.1
setuptools-scm==6.3.2
simplejson==3.17.5
six==1.15.0
slurm==0.4.6
sniffio==1.2.0
snowballstemmer==2.1.0
somepackage==1.2.3
sortedcontainers==2.4.0
soupsieve==2.2.1
Sphinx==4.2.0
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.18
sqlalchemy-orm==1.2.2
sqlalchemy2-stubs==0.0.2a10
sqlparse==0.4.2
statsmodels==0.13.0
streamz==0.6.3
streamz-opencv==0.1.1
svgwrite==1.4.1
sympy==1.9
tabulate==0.8.9
Telethon==1.23.0
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.6.0
tensorflow-estimator==2.6.0
termcolor==1.1.0
terminado==0.10.1
terminaltables==3.1.0
testpath==0.5.0
text-unidecode==1.3
threadpoolctl==2.2.0
tifffile==2021.10.12
toml==0.10.2
tomli==1.2.1
toolz==0.11.1
torch==1.9.1
tornado==6.1
tqdm==4.62.3
traitlets==5.0.5
translate==3.6.1
translate-po==1.0.13
tweedledum==1.1.1
typing-extensions==3.10.0.2
typing-inspect==0.7.1
umap-learn==0.5.1
uritemplate==4.1.1
urllib3==1.26.6
urllib3-1-26-2==1.26.2.0
virtualenv==20.8.1
virtualenv-clone==0.5.7
voila==0.2.10
wasd==1.0.92
watchdog==2.1.6
watchgod==0.7
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.1.0
Werkzeug==2.0.1
whitenoise==5.3.0
widgetsnbextension==3.5.1
wrapt==1.12.1
wsproto==1.0.0
WTForms==2.3.3
wtforms-validators==1.0.0
xarray==0.19.0
yarl==1.6.3
yfinance==0.1.63
zict==2.0.0
zoloto==0.7.0
zstandard==0.16.0

