{% extends "base.html" %}

<!-- Content block -->
{% block content %}
<div class="container-fluid flex flex-column" style="margin: 0; padding: 0;">
    <div class="container book-library">
        {% for book in data["items"] %}
        <div class="row">
            <div class="col">
                <a href="{{ book.infoLink }}" target="blank">
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img class="card-img img-fluid" src="{{ book.imageLinks.thumbnail }}"
                                    alt="{{ book.title }} book cover" />
                            </div>
                            <div class="col-md-8">
                                <div class="card-body" style="margin-top: -4%;">
                                    <h3>Title</h3>
                                    <p>{{ book.title| truncate(20) }}</p>

                                    <h3>Author(s)</h3>
                                    <p>{{ book.authors| truncate(25) }}</p>

                                    <h3>Publisher</h3>
                                    <p>{{ book.publisher| truncate(25) }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        {% endfor %}
    </div>

    <div class="footer-controls">
        {% if start - 21 >= 0 %}
        <a href="/query?search={{ search }}&start={{ start - 21 }}">
            <button id="prev">Previous</button>
        </a>
        {% endif %}

        {% if data["items"]|length == 20 %}
        <a href="/query?search={{ search }}&start={{ start + 19 }}">
            <button id="next">Next</button>
        </a>
        {% endif %}
    </div>
</div>
{% endblock %}